* {
    margin: 0;
    padding: 0;
}

.tray {
    background-color: rgb(65, 65, 65);
    display: flex;
    flex-direction: column;
    height: 98vh;
    width: 10%;
    align-items: center;
    padding-top: 2vh;
    border-right: 2px solid black;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 1vh;
}

.profile-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border: 2px solid black;
    border-radius: 50%;
    background-image: url("./imgs/demo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.profile-name {

}

.list {
    margin-top: 1vh;
}

.op-itens {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.op-itens i {
    margin-top: 2vh;
    font-size: 3vh;
    cursor: pointer;
}

.op-itens a {
    text-decoration: none;
    color: black;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.content table {
    border: 2px solid black;
    background-color: deepskyblue;
    width: 100%;
}

#estoque {
    justify-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    border: 2px solid black;
    border-radius: 20px;
    height: 30vw;
    width: 50%;
    background-color: darkgray;
}

.op-edit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    border-bottom: 2px solid black;
    width: 100%;
    height: 5vh;
}